/**
  * @name Bulldog's Theme
  * @description A simple rounded dark blue theme
  * @author Bulldög#0533
  * @version BD
  * @website https://github.com/Bulldog3321/Bulldogs-Theme
  * @source https://bulldog3321.github.io/Bulldogs-Theme/main.css
  */

@import url("https://bulldog3321.github.io/Bulldogs-Theme/main.css");

/* colouring */
.theme-dark {
  --background-primary: rgb(24, 28, 37);
  --background-secondary: rgb(20, 23, 31);
  --background-tertiary: rgb(12, 14, 19);
  --background-modifier-hover: rgba(255, 255, 255, 0.01);
  --background-modifier-active: rgba(255, 255, 255, 0.03);
  --background-modifier-selected: rgba(255, 255, 255, 0.04);
}

/* variables */
:root {
  --blurple-recolor: rgb(var(--accentcolor));
  --background: rgb(0, 0, 0);
}

/* blurple recolor */
:root {
  --accentcolor:   97, 179, 222;   /* blurple */
  --accentcolor2:  250, 110, 246;  /* boostpink */
  --linkcolor:     129, 216, 208;  /* link */
  --dangercolor:   240, 71, 71;    /* red */
}