/* ----------------------------------------UNIVERSAL---------------------------------------- */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

:root {
  --accentcolor:   97,179,222;   /* blurple */
  --accentcolor2:  250,110,246;  /* boostpink */
  --linkcolor:     129,216,208;  /* link */
}

/* old font */
:root { --font-display: var(--font-primary)!important; }

/* change watermark */
.wordmark-2iDDfm path {
  display:none;
}
.wordmark-2iDDfm:after {
  content: 'Discord';
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  font-weight: bold;
  position: absolute !important;
  left: 10px;
  top: 5px;
  width: 100vw;
}

/* remove scrollbars */
.peopleList-3c4jOR::-webkit-scrollbar { display: none; }
.scroller-1JbKMe::-webkit-scrollbar { display: none; }
.members-1998pB::-webkit-scrollbar { display: none; }
.scroller-RmtA4e::-webkit-scrollbar { display: none; }
.scroller-2LSbBU::-webkit-scrollbar { display: none; }
.contentRegionScroller-26nc1e::-webkit-scrollbar { display: none; }
.container-24CyRY::-webkit-scrollbar { display: none; }
.scroller-9moviB::-webkit-scrollbar { display: none; }

/* glow badges */
.numberBadge-2s8kKX{
  background-color: #e33c17 !important;
  filter: drop-shadow(0 0 3px #063b53) drop-shadow(0 0 5px #063b53);
}

/* modern channel indicators */
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf,
#app-mount .channel-2QD9_O {
  border-radius: 2px;
}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf::before,
#app-mount .channel-2QD9_O::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
#app-mount .content-1x5b-n,
#app-mount .channel-2QD9_O .layout-2DM8Md {
  background-color: transparent;
}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf:not(.modeSelected-346R90):not(.modeConnected-3IsKId):hover,
#app-mount .channel-2QD9_O:not(.selected-aXhQR6):hover {
  background: rgba(79, 84, 92, 0.25);
}
#app-mount .modeSelected-346R90,
#app-mount .channel-2QD9_O.selected-aXhQR6 {
  background-color: rgba(112, 135, 215, 0.1); 
  border-bottom-right-radius: 24px !important; 
  border-top-right-radius: 24px !important 
}
#app-mount .modeSelected-346R90:hover,
#app-mount .channel-2QD9_O.selected-aXhQR6:hover {
  background-color: rgba(112, 135, 215, 0.18);
}
#app-mount .modeSelected-346R90::before,
#app-mount .channel-2QD9_O.selected-aXhQR6::before {
  border-left: 2px solid rgba(112, 135, 215);
}
#app-mount .modeUnread-1qO3K1 {
  background: rgba(255, 255, 255, 0.01);
}
#app-mount .modeUnread-1qO3K1::before {
  border-left: 2px solid rgba(255, 255, 255, 0.6);
}
#app-mount .modeUnread-1qO3K1 .unread-2lAfLh {
  display: none;
}
#app-mount .modeConnected-3IsKId {
  background-color: rgba(67, 181, 129, 0.1);
}
#app-mount .modeConnected-3IsKId:hover {
  background-color: rgba(67, 181, 129, 0.18);
}
#app-mount .modeConnected-3IsKId::before {
  border-left: 2px solid rgba(67, 181, 129);
}
#app-mount .channel-2QD9_O {
  margin-left: 0;
  max-width: 100%;
}
#app-mount .channel-2QD9_O div .avatar-3uk_u9 {
  margin-left: 8px;
}

/* ----------------------------------------USER POPOUTS---------------------------------------- */

/* better user popouts */
.avatar-37jOim.wrapper-3t9DeA { 
  width: 90px !important; 
  height: 90px !important; 
  border-width: px; 
}
.avatarWrapperNormal-26WQIb { 
  margin-left: -2px; 
  margin-top: -2px; 
}
.headerText-1vVs-U { 
  margin-left: 104px; 
  margin-top: -62px; 
  margin-bottom: 10px; 
  min-height: 40px; 
}
.headerTop-3vNv-a { 
  padding-top: 64px; 
}
.container-q03LZO { 
  top: 50px; 
  right: 16px; 
}
.customStatusText-1vtUsN { 
  display: block; 
}
.customStatusEmoji-3a2-Zo { 
  width: 50px !important; 
  height: 50px !important; 
  margin-bottom: 6px; 
}
.avatarHint-2A3RNb,.setIdentityLink-1t8Ahd,.footer-3UKYOU { 
  display: none; 
}
.body-3HBlXn { 
  padding: 8px 8px 8px 0px; 
}

/* online status border */
#app-mount .wrapper-3t9DeA { 
  border-radius: 16px !important; 
}
#app-mount .wrapper-3t9DeA svg:not(:root) { 
  overflow: visible; 
}
#app-mount .wrapper-3t9DeA foreignObject { 
  -webkit-mask: none; 
  mask: none; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle { 
  cy: -8 !important; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) { 
  cx: -8.5 !important; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) { 
  cx: -2.25 !important; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) { 
  cx: 4 !important; 
}
#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] { 
  x: 0; 
  y: 0; 
}
#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important; 
  width: 30px; 
  height: 30px; 
  x: 1; 
  y: 1; 
}
#app-mount .wrapper-3t9DeA img, #app-mount .wrapper-3t9DeA.avatar-AvHqJA { 
  border-radius: 16px; 
}
#app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect { 
  rx: calc(10px * 2) !important; 
  ry: calc(10px * 2) !important; 
}
#app-mount .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect, #app-mount .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect {
  ry: calc(10px * 3.3); 
  rx: calc(10px * 3.3);
}
#app-mount .wrapper-3t9DeA rect {
  x: 0; 
  y: 0; 
  width: 100%; 
  height: 100%; 
  -webkit-mask: none; 
  mask: none; 
  display: block;
  rx: 10px; 
  ry: 10px; 
  fill: transparent !important; 
  stroke-width: 1px;
}
#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="#3ba55c"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online], #app-mount .wrapper-3t9DeA rect[fill*="hsl(139"] {
  stroke: #43b581;
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle], #app-mount .wrapper-3t9DeA rect[fill*="hsl(38"] {
  stroke: #faa61a;
}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[fill="#ed4245"], #app-mount .wrapper-3t9DeA rect[mask*=dnd], #app-mount .wrapper-3t9DeA rect[fill*="hsl(359"] {
  stroke: #f04747;
}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: #643da7;
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
  stroke: #636b75;
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper-3t9DeA rect[fill*="hsl(214"] {
  stroke: #747f8d;
}
#app-mount .wrapper-3t9DeA rect[x="16"] { 
  width: 24px; 
  height: 24px; 
}
#app-mount .wrapper-3t9DeA rect[x="28"] { 
  width: 40px; 
  height: 40px; 
  overflow: visible; 
}
#app-mount .wrapper-3t9DeA[style*="32px"] rect {
  width: 32px; 
  height: 32px; 
  x: -14.5; y: -17; 
  position: relative; 
  z-index: 0;
}
#app-mount .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect { 
  x: -48; y: -52; 
}
#app-mount .wrapper-3t9DeA[style*="80px"] rect { 
  width: 80px; 
  height: 80px; 
  stroke-width: 2px; 
}
#app-mount .wrapper-3t9DeA[style*="80px"] img {
  -webkit-clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 8px); 
  clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 8px);
}
#app-mount .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect { 
  x: -70; y: -76; 
}
#app-mount .wrapper-3t9DeA[style*="120px"] rect { 
  width: 120px; height: 120px; 
  stroke-width: 3px; 
}
#app-mount .wrapper-3t9DeA[style*="120px"] img {
  -webkit-clip-path: inset(calc(4px + 1px) calc(4px + 1px) round 8px);
  clip-path: inset(calc(4px + 1px) calc(4px + 1px) round 8px);
}
#app-mount .wrapper-3t9DeA:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"]) > svg > foreignObject:not(:only-child) img {
  -webkit-clip-path: inset(calc(2px + 1px) calc(2px + 1px) round 8px);
  clip-path: inset(calc(2px + 1px) calc(2px + 1px) round 8px);
}
#app-mount .wrapper-3t9DeA[style="width: 16px; height: 16px;"] rect { 
  display: none; 
}
#app-mount .wrapper-3t9DeA[style="width: 16px; height: 16px;"] img { 
  -webkit-clip-path: none; 
  clip-path: none; 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] { 
  width: calc(100% + 4px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img { 
  width: calc(100% - 12px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img { 
  width: calc(100% - 16px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="120"] img { 
  width: calc(100% - 22px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
  content: ""; 
  display: block, block;
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
  mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
  position: absolute; 
  width: 10px; 
  height: 14px; 
  top: 50%; 
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); 
  right: 0; 
  background: #43b581, #43b581; 
  z-index: 1;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] + rect { 
  stroke: #43b581, #43b581; 
}
#app-mount .avatarHint-2A3RNb foreignObject { 
  -webkit-mask: none;
  mask: none; 
}
#app-mount .avatarHintInner-1TvA8u {
  border-radius: 12px !important;
  padding-top: 0;
  width: calc(100% - 3px - 3px + 1px * 2); 
  height: calc(100% - 3px - 3px + 1px * 2);
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
  position: relative;
}
#app-mount .memberOffline-2lN7gt img { 
  -webkit-clip-path: none !important; 
  clip-path: none !important; 
}
#app-mount .offline-3nJYBR img { 
  -webkit-clip-path: none !important; 
  clip-path: none !important; 
}
.userInfo-2zN2z8,
.peopleListItem-2nzedh { 
  overflow: visible; 
}

/* squared avatars */
:root {--avatar-radius: 10px;}
img[class^="avatar"]{
  border-radius: var(--avatar-radius) !important;
}
:root .root-3QyAh1 .topSection-y3p-_D > header .header-4zuFdR .mask-1l8v16 foreignObject {
  mask: none !important; border-radius: var(--avatar-radius) !important;
}
:root .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .avatarUploaderInner-Oiob_P {
  border: none !important ; border-radius: var(--avatar-radius) !important;
}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
  border-radius: var(--avatar-radius) !important;
}
:root .wrapper-3t9DeA foreignObject, :root .callAvatarMask-1SLlRi foreignObject,
:root .avatarContainer-3CQrif foreignObject, :root .avatarMasked-3y6o4j { 
  mask: none !important;
  -webkit-mask: none !important;
}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
  border-radius: var(--avatar-radius) !important;
}

/* filled role colors */
.role-2irmRk {
  position: relative;
  overflow: hidden; 
  border: none;
  padding: 5px;
  border-radius: 6px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .1;
  pointer-events: none;
}

/* ----------------------------------------HOME PAGE---------------------------------------- */

/* floating server list */
.scroller-1Bvpku { 
  background-color: var(--background-secondary);
}
#app-mount .guilds-1SWlCJ {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
#app-mount .guilds-1SWlCJ .scroller-1Bvpku {
  padding-top: 9px;
  padding-bottom: 4px;
}

/* floating user area */
#app-mount .panels-j1Uci_ {
  background-color: var(--background-secondary);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* floating side bar */
#app-mount .sidebar-2K8pFh nav {
  border-radius: 10px;
  margin-top: 5px;
}
#app-mount .sidebar-2K8pFh {
  background-color: var(--background-tertiary);
  border-radius: 10px;
  margin-left: 5px;
}

/* floating friends area */
#app-mount .container-1D34oG {
  position: relative;
  border-radius: 10px;
  margin: 5px 10px 5px 0;
  left: 5px;
}

/* floating stage discovery */
#app-mount .container-1a3EgQ {   
  position: relative;
  border-radius: 10px;
  margin: 5px 10px 5px 0;
  left: 5px;
}

/* floating store page */
#app-mount .applicationStore-1pNvnv { 
  position: relative;
  border-radius: 10px;
  margin: 5px 10px 5px 0;
  left: 5px;
}

/* fly in voice chat buttons */
.panels-j1Uci_ .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ .container-3baos1 button:not([role="switch"]) {
  transition: 0.1s ease-in-out;
  width: 0px !important;
  overflow: hidden !important;
  opacity: 0 !important;
}
.panels-j1Uci_ .container-3baos1:hover button.button-14-BFJ {
  transition: 0.1s ease-in-out;
  width: 32px !important;
  overflow: visible !important;
  opacity: 1 !important;
}

/* compact status selection */
#status-picker .mask-1qbNWk { 
  height: 75%; 
  width: 75%; 
  margin-left: 33%; 
}
#status-picker > .scrollerBase-289Jih { 
  display: grid; 
}
#status-picker-custom-status { 
  grid-column: 1/5; 
}
#status-picker .separator-2I32lJ,
#status-picker .description-2L932D,
#status-picker .item-1tOPte:not(#status-picker-custom-status) .status-1fhblQ { 
  display: none; 
}

/* compact home page buttons */
.privateChannels-1nO12o .content-3YMskv { 
  --columns: 3; 
  display: grid; 
  grid-template-columns: repeat(var(--columns), 1fr); 
  grid-auto-rows: min-content; 
}
.privateChannels-1nO12o .content-3YMskv > * { 
  grid-column: 1/-1; 
}
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) { 
  grid-column: auto; 
}
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .content-3QAtGj { 
  display: none; 
}
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .avatar-3uk_u9 { 
  width: 100%; margin: 0 !important; 
}

/* friends background */
.avatar-3W3CeO.wrapper-3t9DeA:before {
  content: '';
  position: absolute;
  top: -20px; 
  left: -25px;
  min-width: 585px;
  height: var(--friendblockheight) !important;
  z-index: -1;
  opacity: 0.3;
  background: var(--csbg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.userInfo-2zN2z8 {
  background-color: var(--background-tertiary);
  border-radius: 8px;
  padding: 8px;
}

/* rounded friends list buttons */
.actionButton-uPB8Fs, .actionButton-uPB8Fs.highlight-Lf97TE { border-radius: 12px; }

/* remove friends separators */
.peopleListItem-2nzedh {
  border-top: 0px solid var(--background-modifier-accent);
}

/* hide friends title */
.tabBar-ZmDY9v { 
  right: 112px; 
  position: relative; 
  background-color: var(--background-primary); 
}

/*call dock*/
.wrapper-3EGhDO {
  background-color: var(--background-secondary);
  border-radius: 15px;
  padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
  background: none !important;
}

/* ----------------------------------------CHAT AREA---------------------------------------- */

/* floating chat area */
#app-mount .chat-3bRxxu {
  border-radius: 10px;
  margin: 5px 10px 5px 0;
  left: 5px;
}

/* floating member list */
#app-mount .members-1998pB {
  margin: 5px 5px 5px 0;
  border-radius: 10px;
}

/* better chat box */
.theme-dark .scrollableContainer-2NUZem {
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: all 0.25s;
  border-bottom: solid 3px var(--background-secondary);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.theme-dark .scrollableContainer-2NUZem:focus-within {
  border-bottom: solid 3px rgb(97,179,222);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.channelTextArea-rNsIhG, .popout_7205, .form-2fGMdU  {
  background: rgba(0,0,0, 0);
  margin-bottom: 5px;
}
.typing-2GQL18, .base-gE7OpD {
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  position: relative;
  margin-right: 35px;
}
.cooldownWrapper-3joyFc {
  margin-right: 5px;
}

/* transparent chat box background */
.form-2fGMdU:before { 
  display: none; 
}
.scroller-2LSbBU { 
  margin-bottom: -100px; 
  padding-bottom: 90px; 
}
.replyBar-1YLQ2F { 
  background: transparent; 
}

/* hide chat box icons until hover */
.buttons-3JBrkn { 
  opacity: 0; 
  transition: opacity 0.2s; 
}
.channelTextArea-rNsIhG:hover .buttons-3JBrkn { 
  opacity: 1; 
}

/* mobile jump to present */
.jumpToPresentBar-G1R9s6 {
  visibility: hidden;
}
.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d {
  visibility: visible;
  padding: 12px;
  background-color: var(--background-tertiary);
  border-radius: 24px;
  margin-bottom: 50px;
  margin-right: -10px;
}

/* rounded toolbar */
.toolbar-1t6TWx {  
  background-color: var(--background-secondary); 
  border-radius:10px;
  padding: 6px 0px 6px 0px;
  margin-right: -3px;
}

/* better search bar */
.search-36MZv- {
  order: -1;
}
.searchBar-3dMhjb {
  width: 28px;
  transition: width 0.2s ease-in-out;
  background: var(--background-secondary);
}
.focused-31_ccS .searchBar-3dMhjb,
.open-6_Y_aH .searchBar-3dMhjb,
.searchBar-3dMhjb:hover {
  width: 240px;
  background: var(--background-secondary);
}

/* round message highlight */
.message-2qnXI6, .mentioned-xhSam7 { 
  border-radius: 15px 15px 15px 15px; 
  margin-right: 20px; 
}
.mentioned-xhSam7:before { 
  display: none; 
}
.replying-1x3H0T:before { 
  display: none; 
}

/* round context menu */
.item-1tOPte, .menu-3sdvDG.styleFlexible-wGDiIL { 
  border-radius: 15px; 
}
.submenu-2-ysNh.menu-3sdvDG { 
  border-radius: 21px; 
}
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j { 
  left: -1.5px; 
}
.colorDefault-2K3EoJ { 
  border-radius: 12px; 
}

/* rounded server dropdown */
.menu-3sdvDG { 
  border-radius: 10px; 
}

/* round button container */
.wrapper-2aW0bm,.button-1ZiXG9.selected-LCBEAU,.button-1ZiXG9 {
  border: none;
  border-radius: 12px !important;
}

/* colored limited and nsfw indicators */
div[aria-label$="(Limited)"] path[d^="M2"][d*="19"] { 
  fill: #ffd01a; 
}
div[aria-label$="(NSFW)"] path:last-child { 
  fill: #ed4245; 
}

/* image background blur */
#app-mount div > .backdrop-1wrmKB, .layer-2KE1M9 {
  backdrop-filter: blur(5px);
  transition: opacity .5s;
}
.backdrop-1wrmKB.withLayer-RoELSG {
  opacity: .5 !important;
  transition: opacity .5s;
}

/* better embeds */
.embedFull-2tM8-- {
  border-left: 0px;
  border-bottom: 4px solid;
  border-radius: 4px;
}
.embedFull-2tM8-- .grid-1nZz7S {
  padding-top: 4px;
  padding-bottom: 8px;
}

/* embed quotes */
.blockquoteContainer-U5TVEi {
  padding: 2px 0 2px 0;
}
.blockquoteContainer-U5TVEi blockquote {
  background-color: var(--background-secondary);
  border-bottom: 4px solid;
  border-radius: 4px 4px 4px 4px;
  padding: 4px 12px 4px;
}
.blockquoteContainer-U5TVEi > .blockquoteDivider-2hH8H6 {
  display: none;
}

/* big reaction hover */
.reactionTooltipContent-2TwEIL {
  display: block; 
  text-align: center; 
}
.reactionTooltipEmoji-3LG0v8.emoji { 
  height: 100px; 
  width: calc(100%); 
  display: block; 
  margin-bottom: 9px; 
}

/* old style reactions */
.reaction-1hd86g,.reaction-1hd86g:hover {
  background-color:var(--background-secondary); 
  border: none; 
  border-radius:10px !important; 
}
.reaction-1hd86g.reactionMe-wv5HKu {
  background-color:rgba(114,137,218,.3); 
}

/* smaller channel icons */
.icon-1DeIlz { 
  width: 15px; 
}

/* unread channel icon glow */
.modeUnread-1qO3K1>div>a>div>.icon-1DeIlz{
  color:var(--interactive-active);
}

/* disable copying usernames and time stamps */
.header-23xsNx{ 
  user-select:none; 
}

/* smaller mentions */
#app-mount .wrapper-3WhCwL { 
  border-radius: 5px; 
  padding: 2px 3px; 
  font-size: 0.9em; 
}
.wrapper-3WhCwL:hover { 
  background-color: rgb(97,179,222, 0.8) !important; 
  transition: 0.2s; 
}

/* fix audio embed width */
.wrapperAudio-1jDe0Q { 
  width: auto !important; 
  min-width: 400px; 
}

/* change file upload limit text */
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y {
  font-size: 0px;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before {
  content: 'That was';
  font-size: 22px;
  font-weight: normal;
} 
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:after {
  content: ' fucking gay';
  font-size: 22px;
  font-style: italic;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
  font-size: 0px;
  width: 180px;
} 
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG:after {
  content: "Don't ever post that bullshit again you fucking retard";
  font-size: 12px;
}

/* center users in voice display */
.voiceUsers-2V7vuh { 
  width: 100%; 
  justify-content: space-evenly; 
  grid-template-columns: none; 
}

/* hide nitro and gif chat icons */
button[aria-label="Send a gift"] { 
  display: none; 
}
button[aria-label="Open GIF picker"] { 
  display: none; 
}

/* hide textbox when you don't have permission */
.channelTextAreaDisabled-8rmlrp>div { 
  display: none; 
}

/* ----------------------------------------SETTINGS---------------------------------------- */

/* small settings */
:root {
  --width2: 60%;
  --height2: 85%;
}
.layers-3iHuyZ {
  align-items: center;
  justify-content: center;
}
.layers-3iHuyZ > .layer-3QrUeG:first-child {
  opacity: 1 !important;
  transform: none !important;
}
.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {
  z-index: 1;
  transition: 250ms ease-in;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
  content: "";
  position: absolute;
  top: calc((100% - var(--height2)) / -1);
  left: calc((100% - var(--width2)) / -1);
  padding: calc(100% - var(--height2)) calc(100% - var(--width2));
  background: black;
  z-index: 2;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transition: opacity 350ms ease;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
  width: var(--width2);
  height: var(--height2);
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  display: block;
  overflow: visible;
  transform: translateZ(0);
  z-index: 3;
}

/* simple switches */
svg.slider-TkfMQL svg, .bd-switch-slider>svg { 
  display: none; 
}

/* remove change avatar icon */
.avatarUploaderIndicator-2G-aIZ { 
  display: none; 
}

/* reorder theme toggler and bdcompat settings */
#app-mount .item-PXvHYJ[data-item-id="bdCompat"],
#app-mount .item-PXvHYJ[data-item-id="theme-toggler"] { 
  order: 1; 
}
.item-PXvHYJ[data-item-id="pc-moduleManager-plugins"] ~ div { 
  order: 2; 
}

/* plugin settings divider */
.item-PXvHYJ[data-item-id=pc-updater] {
  height: 4.65rem;
  align-items: unset !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:hover {
  background: linear-gradient(180deg,
  var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
  var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
  background: linear-gradient(180deg, 
  var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
  var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
  position: absolute;
  margin-top: 2.19rem;
  border-top: 1px solid var(--background-modifier-accent);
  line-height: 2.6rem;    
  width: 89.5%;
  content: "Plugin Settings";
  color: rgb(159, 159, 159);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

/* 2 column emoji settings */
.marginBottom40-2vIwTv > .marginBottom4-2qk4Hy {
  display: none;
}
.emojiRow-zIc7ZX {
  display: inline-flex;
  margin-right: 50px;
}
#app-mount .emojiUploader-1f0pVx {
  opacity: 0;
  position: absolute;
  transform: translateX(-11px);
}
#app-mount .emojiUploader-1f0pVx .avatar-2Hubm8 {
  height: 32px !important; 
}
#app-mount .emojiRow-zIc7ZX:hover > .emojiUploader-1f0pVx {
  opacity: 1;
}
#app-mount .emojiRow-zIc7ZX:hover > .emojiImage-1hZi2F {
  opacity: 0;
}

/* ----------------------------------------PLUGIN/THEME EDITS---------------------------------------- */

/* fix "Better Friends List" spacing */
.headerCellContent-1pLtOr { margin: auto; }
.bfl-title { padding-right: 30px; }
.bfl-mutualGuilds.bfl-container { padding: 0 0 12px 10px; }

/* fix notebook color */
.modal-yWgWj-.hn-notebook { background-color: var(--background-secondary); }

/* better folders server list gap fix */
.BF-folderSidebar { margin-left: -5px; margin-right: 5px; }
