/* ----------------------------------------UNIVERSAL---------------------------------------- */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
:root {
  --accentcolor:   97,179,222;   /* blurple */
  --accentcolor2:  250,110,246;  /* boostpink */
  --linkcolor:     129,216,208;  /* link */
}

:root {
  --blurple-recolor: rgb(97,179,222);
}

/* old font */
:root { 
  --font-display: var(--font-primary)!important;
}

/* background */
:root .bg-h5JY_x {
  background: rgb(0, 0, 0);
}

/* remove scrollbars */
.peopleList-3c4jOR::-webkit-scrollbar { display: none; }
.scroller-1JbKMe::-webkit-scrollbar { display: none; }
.members-1998pB::-webkit-scrollbar { display: none; }
.scroller-RmtA4e::-webkit-scrollbar { display: none; }
.scroller-2LSbBU::-webkit-scrollbar { display: none; }
.contentRegionScroller-26nc1e::-webkit-scrollbar { display: none; }
.container-24CyRY::-webkit-scrollbar { display: none; }
.scroller-9moviB::-webkit-scrollbar { display: none; }
.scroller-3BxosC::-webkit-scrollbar { display: none; }

/* remove right click buttons */
[id='user-context-user-profile'], [id="user-context-roles"], [id="user-context-mention"], 
[id="user-context-note"], [id="user-context-block"], [id="user-context-remove-friend"], 
[id="message-devmode-copy-id"], [id="message-mark-unread"], [id="message-tts"],
[id="message-notebook"], [id="message-translate-message"] {
  display: none;
}
[aria-label="Help"] {
  display: none;
}

/* ----------------------------------------SERVER LIST---------------------------------------- */

/* floating server list */
.scroller-1Bvpku { 
  background-color: var(--background-secondary);
}
#app-mount .guilds-1SWlCJ {
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
#app-mount .guilds-1SWlCJ .scroller-1Bvpku {
  padding-top: 9px;
  padding-bottom: 4px;
}

/* glow badges */
.numberBadge-2s8kKX{
  background-color: #e33c17 !important;
  filter: drop-shadow(0 0 3px #063b53) drop-shadow(0 0 5px #063b53);
}

/* better expanded folders */
.expandedFolderIconWrapper-Huv7rA {
  background-color: var(--background-tertiary);
}
.expandedFolderBackground-1cujaW {
  background-color: var(--background-tertiary);
  left: 25%;
  width: 50%;
}

/* ----------------------------------------SIDE BAR---------------------------------------- */

/* floating side bar */
#app-mount .sidebar-2K8pFh nav {
  border-radius: 10px;
}
#app-mount .sidebar-2K8pFh {
  background-color: rgb(0, 0, 0);
  margin-left: 5px;
}
.animatedContainer-1NSq4T {
  border-radius: 10px 10px 0 0;
}

/* server banner bottom fade */
.animatedContainer-1NSq4T {
  box-shadow: none !important;
}
.animatedContainer-1NSq4T:after {
  background: linear-gradient(00deg, var(--background-secondary), transparent 100%);
  position: absolute;
  content: '';
  height: 30px;
  width: 100%;
  bottom: 0;
}

/* floating user area */
#app-mount .panels-j1Uci_ {
  background-color: var(--background-secondary);
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

/* fly in voice chat buttons */
.panels-j1Uci_ .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ .container-3baos1 button:not([role="switch"]) {
  transition: 0.1s ;
  width: 0px !important;
  overflow: hidden !important;
  opacity: 0 !important;
}
.panels-j1Uci_ .container-3baos1:hover button.button-14-BFJ {
  transition: 0.1s ;
  width: 32px !important;
  overflow: visible !important;
  opacity: 1 !important;
}

/* compact status selection */
#status-picker {
  bottom: 1px;
  right: 8px;
  width: 240px;
  border-radius: 10px !important;
}
#status-picker .mask-1qbNWk { 
  height: 75%; 
  width: 75%; 
}
#status-picker .item-1tOPte {
  margin-left: -2px;
}
#status-picker > .scrollerBase-289Jih { 
  display: grid; 
}
#status-picker-custom-status { 
  grid-column: 1/5; 
}
#status-picker .separator-2I32lJ,
#status-picker .description-2L932D,
#status-picker .item-1tOPte:not(#status-picker-custom-status) .status-1fhblQ { 
  display: none; 
}

/* modern channel indicators */
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf,
#app-mount .channel-2QD9_O {
  border-radius: 2px;
}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf::before,
#app-mount .channel-2QD9_O::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
#app-mount .content-1x5b-n,
#app-mount .channel-2QD9_O .layout-2DM8Md {
  background-color: transparent;
  border-width: 0 0 0 4px;
}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf:not(.modeSelected-346R90):not(.modeConnected-3IsKId):hover,
#app-mount .channel-2QD9_O:not(.selected-aXhQR6):hover {
  background: rgba(79, 84, 92, 0.25);
}
#app-mount .modeSelected-346R90,
#app-mount .channel-2QD9_O.selected-aXhQR6 {
  background-color: rgba(112, 135, 215, 0.1); 
  border-radius: 4px 24px 24px 4px !important; 
}
#app-mount .modeSelected-346R90:hover,
#app-mount .channel-2QD9_O.selected-aXhQR6:hover {
  background-color: rgba(112, 135, 215, 0.18);
}
#app-mount .modeSelected-346R90::before,
#app-mount .channel-2QD9_O.selected-aXhQR6::before {
  border-left: 4px solid var(--blurple-recolor);
  border-radius: 20px;
}
#app-mount .modeUnread-1qO3K1 {
  background: rgba(255, 255, 255, 0.01);
}
#app-mount .modeUnread-1qO3K1::before {
  border-left: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}
#app-mount .modeUnread-1qO3K1 .unread-2lAfLh {
  display: none;
}
#app-mount .modeConnected-3IsKId {
  background-color: rgba(67, 181, 129, 0.1);
}
#app-mount .modeConnected-3IsKId:hover {
  background-color: rgba(67, 181, 129, 0.18);
}
#app-mount .modeConnected-3IsKId::before {
  border-left: 2px solid rgba(67, 181, 129);
}
#app-mount .channel-2QD9_O {
  margin-left: 0;
  max-width: 100%;
}
#app-mount .channel-2QD9_O div .avatar-3uk_u9 {
  margin-left: 8px;
}

/* ----------------------------------------HOME PAGE---------------------------------------- */

/* floating friends area */
#app-mount .container-1D34oG {
  position: relative;
  border-radius: 10px;
  margin: 0 10px 5px 0;
  left: 5px;
}

/* floating stage discovery */
#app-mount .container-1a3EgQ {   
  position: relative;
  border-radius: 10px;
  margin: 0 10px 5px 0;
  left: 5px;
}

/* floating store page */
#app-mount .applicationStore-1pNvnv { 
  position: relative;
  border-radius: 10px;
  margin: 0 10px 5px 0;
  left: 5px;
}

/* compact home page buttons */
.privateChannels-1nO12o .content-3YMskv { 
  --columns: 3; 
  display: grid; 
  grid-template-columns: repeat(var(--columns), 1fr); 
  grid-auto-rows: min-content; 
}
.privateChannels-1nO12o .content-3YMskv > * { 
  grid-column: 1/-1; 
}
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) { 
  grid-column: auto; 
}
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .content-3QAtGj { 
  display: none; 
}
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .avatar-3uk_u9 { 
  width: 100%; margin: 0 !important; 
}

/* hide friends title */
.tabBar-ZmDY9v { 
  right: 112px; 
  position: relative; 
  background-color: var(--background-primary); 
}

/* friends background */
.container-1D34oG .peopleListItem-2nzedh {
  border-radius: 10px;
  border-top: none;
  background: var(--background-secondary-alt);
  margin: 5px 20px 5px 20px;
  padding: 16px 14px;
}
.actionButton-uPB8Fs, .actionButton-uPB8Fs.highlight-Lf97TE { 
  border-radius: 10px; 
}
.actionButton-uPB8Fs { 
  border-radius: 10px;
  background-color: var(--background-primary); 
}
.actionButton-uPB8Fs.highlight-Lf97TE {
  background-color: var(--background-primary);
}

/*call dock*/
.wrapper-3EGhDO {
  background-color: var(--background-secondary);
  border-radius: 15px;
  padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
  background: none !important;
}

/* ----------------------------------------CHAT AREA---------------------------------------- */

/* floating chat area */
#app-mount .chat-3bRxxu {
  border-radius: 10px;
  margin: 0 10px 5px 0;
  left: 5px;
}

/* floating member list */
#app-mount .members-1998pB {
  margin: 5px 5px 5px 0;
  border-radius: 10px;
}

/* channel group lines */
.wrapper-PY0fhH {
  padding-left: 10px;
  padding-right: 10px;
}
.icon-2yIBmh {
  display: none;
}
.name-3l27Hl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.name-3l27Hl:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}
.name-3l27Hl::before, .side-8zPYf6 .header-2RyJ0Y::before, .membersGroup-v9BXpm::before, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1::before {
  background: linear-gradient(to left, var(--blurple-recolor) 50%, transparent) !important;
}
.name-3l27Hl:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  margin-left: 5px;
}
.name-3l27Hl::after, .side-8zPYf6 .header-2RyJ0Y::after, .membersGroup-v9BXpm::after, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1::after {
  background: linear-gradient(to right, var(--blurple-recolor) 50%, transparent) !important;
}
.collapsed-2-tg8y .name-3l27Hl:before, .collapsed-2-tg8y .name-3l27Hl:after {
  flex-grow: 0;
}
.addButtonIcon-2CbG1X {
  margin-left: 6px;
}

/* member group lines */
.members-1998pB .membersGroup-v9BXpm {
  padding-top: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  transition: all 0.15s ease-in-out;
  opacity: 0.85;
}
.members-1998pB .membersGroup-v9BXpm:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.members-1998pB .membersGroup-v9BXpm:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}

/* better chat box */
.theme-dark .scrollableContainer-2NUZem {
  background-color: var(--background-secondary);
  border-radius: 24px;
  transition: 0.25s;
  border: solid 2px transparent;
}
.theme-dark .scrollableContainer-2NUZem:hover {
  border: solid 2px rgba(97,179,222,0.4);
}
.theme-dark .scrollableContainer-2NUZem:focus-within {
  border: solid 2px var(--blurple-recolor);
}
.channelTextArea-rNsIhG, .popout_7205, .form-2fGMdU  {
  background: rgba(0,0,0, 0);
}
.typing-2GQL18, .base-gE7OpD {
  background-color: var(--background-secondary);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: 0 20px 0 20px;
  margin-bottom: -1px;
}
.cooldownWrapper-3joyFc {
  margin-right: 6px;
}
.attachedBars-tZDmyV { 
  margin: 0 20px 0 20px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.replyBar-1YLQ2F {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.scroller-2LSbBU { 
  margin-bottom: -100px; 
  padding-bottom: 90px; 
}
.form-2fGMdU:before { 
  display: none; 
}

/* hide chat box icons until hover */
.buttons-3JBrkn { 
  opacity: 0; 
  transition: opacity 0.25s; 
}
.channelTextArea-rNsIhG:hover .buttons-3JBrkn { 
  opacity: 1; 
}

/* vertical text format list */
.toolbar-2bjZV7 {
  display: flex; 
  flex-direction: column;
  height: auto;
  width: 150px;
  transform: translate(28px, -84%);
}
.toolbar-2bjZV7 .button-qqmJ7w {width: 100%;}
.toolbar-2bjZV7 .button-qqmJ7w:after {
  color: var(--text-normal); 
  width: calc(100% - 32px); 
  text-align: left;
}
.toolbar-2bjZV7 .button-qqmJ7w:hover:after {color: #fff;}
.toolbar-2bjZV7 .button-qqmJ7w.active-2HPddW:after {color: #fff;}
.toolbar-2bjZV7 .button-qqmJ7w .contents-18-Yxp {margin: 6px;}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(1):after {content: "Bold";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(2):after {content: "Italics";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(3):after {content: "Strikethrough";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(4):after {content: "Quote";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(5):after {content: "Codeblock";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(6):after {content: "Spoiler";} 
.divider-24xeUg {
  height: 0;
  border-left: none;
  border-bottom: 1px solid hsla(0,0%,100%,.06);
  margin: 4px 5px;
}
.toolbar-2bjZV7 .button-qqmJ7w:first-of-type {
  border-radius: 4px 4px 0px 0px;
}
.toolbar-2bjZV7 .button-qqmJ7w:last-of-type {
  border-radius: 0px 0px 4px 4px;
}

/* mobile jump to present */
.jumpToPresentBar-G1R9s6 {
  visibility: hidden;
}
.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d {
  visibility: visible;
  padding: 12px;
  background-color: var(--background-tertiary);
  border-radius: 24px;
  margin-bottom: 50px;
  margin-right: -10px;
}

/* rounded toolbar */
.toolbar-1t6TWx {  
  background-color: var(--background-secondary); 
  border-radius:10px;
  padding: 6px 0px 6px 0px;
  margin-right: -3px;
}

/* better search bar */
.search-36MZv- {
  order: -1;
}
.searchBar-3dMhjb {
  background: none;
  width: 24px;
  transition: width 0.2s, padding 0.2s;
  padding: 0 !important;
}
.searchBar-3dMhjb .iconContainer-O4O2CN {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}
.searchBar-3dMhjb .icon-38sknP {
  width: 24px;
  height: 24px;
}
.searchBar-3dMhjb:focus-within {
  width: 240px;
}
.searchBar-3dMhjb:focus-within svg {
  transform: scale(0.8);
}

/* round message highlight */
.message-2qnXI6, .mentioned-xhSam7 { 
  border-radius: 15px 15px 15px 15px; 
  margin-right: 20px; 
}
.mentioned-xhSam7:before { 
  display: none; 
}
.replying-1x3H0T:before { 
  display: none; 
}

/* round menus and buttons */
button, input, textarea, .item-PXvHYJ:not([class^=tabBarItem-]), .menu-3sdvDG {
  border-radius: 20px !important;
}

/* better context menus */
.scroller-3BxosC .item-1tOPte {
  transition: 0.15s;
  border-radius: 0;
  padding: 10px 10px 10px 13px;
  margin: 0;
}
.scroller-3BxosC {
  padding: 0;
}
.scroller-3BxosC .submenuContainer-2gbm7M .layer-v9HyYc {
  margin: 0px -8px;
}
.scroller-3BxosC .separator-2I32lJ {
  display: none;
}
.theme-dark .colorDefault-2K3EoJ.focused-3afm-j, .theme-dark .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--background-modifier-hover) !important;
}
.wrapper-3_530D { 
  padding: 4px 1px 4px 1px;
}
.menu-3sdvDG {
  overflow: hidden;
}

/* round button container */
.wrapper-2aW0bm,.button-1ZiXG9.selected-LCBEAU,.button-1ZiXG9 {
  border-radius: 24px !important;
}

/* colored limited and nsfw indicators */
div[aria-label$="(Limited)"] path[d^="M2"][d*="19"] { 
  fill: #ffd01a; 
}
div[aria-label$="(NSFW)"] path:last-child { 
  fill: #ed4245; 
}

/* better embeds */
.embedFull-2tM8-- {
  border: none;
  margin-left: 10px;
  border-radius: 5px 20px 20px 5px;
}
.embedFull-2tM8--:after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -10px;
  width: 0px;
  border: solid;
  border-width: 0 0 0 6px;
  border-color: inherit;
  border-radius: 10px;
}

/* better audio embeds */
.wrapperAudio-1jDe0Q {
  padding: 10px 0 0 0;
  border-radius: 10px;
}
.audioMetadata-3zOuGv {
  padding: 0px 10px;
}
.audioControls-2HsaU6 {
  border-radius: 0 0 10px 10px;
}

/* big reaction hover */
.reactionTooltipContent-2TwEIL {
  display: block; 
  text-align: center; 
}
.reactionTooltipEmoji-3LG0v8.emoji { 
  height: 100px; 
  width: calc(100%); 
  display: block; 
  margin-bottom: 9px; 
}

/* old style reactions */
.reaction-1hd86g,.reaction-1hd86g:hover {
  background-color:var(--background-secondary); 
  border: none; 
  border-radius:10px !important; 
}
.reaction-1hd86g.reactionMe-wv5HKu {
  background-color:rgba(114,137,218,.3); 
}

/* smaller channel icons */
.icon-1DeIlz { 
  width: 15px; 
}

/* unread channel icon glow */
.modeUnread-1qO3K1>div>a>div>.icon-1DeIlz{
  color:var(--interactive-active);
}

/* date seperator */
.content-1o0f9g {
  background: rgba(45, 45, 45, 1);
  color: white;
  text-transform: uppercase;
  opacity: 0.8;
}

/* disable copying usernames and time stamps */
.header-23xsNx{ 
  user-select:none; 
}

/* smaller mentions */
#app-mount .wrapper-3WhCwL { 
  border-radius: 5px; 
  padding: 2px 3px; 
  font-size: 0.9em; 
}

/* fix audio embed width */
.wrapperAudio-1jDe0Q { 
  width: auto !important; 
  min-width: 400px; 
}

/* center users in voice display */
.voiceUsers-2V7vuh { 
  width: 100%; 
  justify-content: space-evenly; 
  grid-template-columns: none; 
}

/* hide gift, gif, and sticker icons */
.buttons-3JBrkn>[aria-label][tabindex]{
    display:none;
}
.buttons-3JBrkn>[aria-label][tabindex]+.buttonContainer-28fw2U{
    display:none;
}
.stickerButton-3OEgwj{
    display:none;
}

/* hide textbox when you don't have permission */
.channelTextAreaDisabled-8rmlrp>div { 
  display: none; 
}

/* ----------------------------------------USER POPOUTS---------------------------------------- */

/* better user popouts */
.avatar-37jOim.wrapper-3t9DeA { 
  width: 90px !important; 
  height: 90px !important; 
}
.avatarWrapperNormal-26WQIb { 
  margin-left: -2px; 
  margin-top: -2px; 
}
.headerText-1vVs-U { 
  margin-left: 104px; 
  margin-top: -62px; 
  margin-bottom: 10px; 
  min-height: 40px; 
}
.headerTop-3vNv-a { 
  padding-top: 64px; 
}
.container-q03LZO { 
  top: 50px; 
  right: 16px; 
}
.customStatusText-1vtUsN { 
  display: block; 
}
.customStatusEmoji-3a2-Zo { 
  width: 50px !important; 
  height: 50px !important; 
  margin-bottom: 6px; 
}
.avatarHint-2A3RNb,.setIdentityLink-1t8Ahd,.footer-3UKYOU { 
  display: none; 
}
.body-3HBlXn { 
  padding-top: 8px;
}
.bodyInnerWrapper-26fQXj {
  max-height: 274px;
}

/* better user modals */
.root-3QyAh1 > .body-r6_QPy {
  height: 270px;
}
/* better tabs */
.root-3QyAh1 .tabBarContainer-37hZsr {
  border-bottom: none;
}
.root-3QyAh1 .tabBar-3nvOPa, .tabBarItem-3dfX8P {
  justify-content: center;
  border-radius: 10px;
}
.tabBar-3nvOPa > .item-PXvHYJ.selected-3s45Ha, .tabBar-3nvOPa > [style*="color: rgb(255, 255, 255)"].item-PXvHYJ {
  color: #fff !important;
}
.tabBar-3nvOPa > .item-PXvHYJ {
  position: relative;
  margin: 10px 10px 0;
  padding: 0 10px;
  border: none !important;
  transition: color 0.15s ease-in-out;
  z-index: 1;
}
.tabBar-3nvOPa > .item-PXvHYJ.selected-3s45Ha:before, .tabBar-3nvOPa > [style*="color: rgb(255, 255, 255)"].item-PXvHYJ:before {
  bottom: 100%;
  animation: cv-slide-bottom 0.2s ease-in-out reverse;
}
.tabBar-3nvOPa > .item-PXvHYJ:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.07) 50%);
  border-radius: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.15s ease-in-out, bottom 0.2s ease-in-out;
  z-index: -1;
}
.tabBar-3nvOPa > .item-PXvHYJ.selected-3s45Ha:after, .tabBar-3nvOPa > [style*="color: rgb(255, 255, 255)"].item-PXvHYJ:after {
  top: 0;
  -webkit-animation: cv-slide-top 0.2s ease-in-out;
  animation: cv-slide-top 0.2s ease-in-out;
}
.tabBar-3nvOPa > .item-PXvHYJ:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background-primary);
  border-radius: 3px 3px 0 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
/* activity background */
.root-3QyAh1 .activity-2M3PRB {
  position: relative;
  z-index: 1;
}
.root-3QyAh1 .activityProfile-2bJRaP {
  background-color: var(--background-secondary);
  margin: 10px 0 0 0;
  border-radius: 10px;
}
/* grid mutuals */
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj .listRow-1iDGel {
  display: inline-table;
}
.root-3QyAh1 .listScroller-3GmIYj .listRow-1iDGel .iconSizeMedium-2OqPjI {
  width: 50px !important;
  height: 50px !important;
  margin-right: 6px;
  margin-top: 10px;
}
.root-3QyAh1 .listScroller-3GmIYj .listName-U3shDM, .root-3QyAh1 .listScroller-3GmIYj .listRowContent-i8Bizk {
  display: none;
}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj {
  padding-left: 10px;
  margin-bottom: 15px !important;
}
.root-3QyAh1 .listScroller-3GmIYj .mask-1l8v16.svg-2V3M55, .listRow-1iDGel .listAvatar-1BbvHX.wrapper-3t9DeA {
  width: 90px !important;
  height: 90px !important;
}
.listAvatar-1BbvHX {
  margin-right: -10px;
}
.noIcon-1a_FrS.iconSizeMedium-2OqPjI {
  top: -25px;
  margin-bottom: -25px;
}
/* grid connections */
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn {
  border-top: none;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m {
  justify-content: flex-start;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 {
  position: relative;
  width: 110px;
  flex-direction: column;
  overflow: hidden;
  border: none;
  margin: 5px;
  padding: 10px;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg {
  position: relative;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
  z-index: 2;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountNameInner-2q3MVf {
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: center;
  overflow: visible;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountNameInner-2q3MVf .connectedAccountName-E1KzaT {
  text-align: center;
  margin: 0;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountNameInner-2q3MVf span {
  display: none;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .anchor-3Z-8Bb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .anchor-3Z-8Bb > svg {
  display: none;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg + .connectedAccountNameInner-2q3MVf::before {
  content: "";
  position: absolute;
  top: -65px;
  left: -10px;
  z-index: -1;
  width: 130px;
  height: 91px;
  border-radius: 10px;
  opacity: 0.25;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #191717;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #1ED760;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #000000;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/0d44ba28e39303de3832db580a252456.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #5DC21E;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #FF4500;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #553092;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/4662875160dc4c56954003ebda995414.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #1DA1F2;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #D9252A;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #009AE5;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #2D3283;
}
.root-3QyAh1 .body-r6_QPy .userInfoSection-q_35fn .connectedAccounts-QlRa4m .connectedAccount-2Jb-Z0 .connectedAccountIcon-3_EQqg[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] + .connectedAccountNameInner-2q3MVf::before {
  background-color: #CEA146;
}

/* radial status */
#app-mount .wrapper-3t9DeA { 
  border-radius: 16px !important; 
}
#app-mount .wrapper-3t9DeA svg:not(:root) { 
  overflow: visible; 
}
#app-mount .wrapper-3t9DeA foreignObject { 
  -webkit-mask: none; 
  mask: none; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle { 
  cy: -8 !important; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) { 
  cx: -8.5 !important; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) { 
  cx: -2.25 !important; 
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) { 
  cx: 4 !important; 
}
#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] { 
  x: 0; 
  y: 0; 
}
#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important; 
  width: 30px; 
  height: 30px; 
  x: 1; 
  y: 1; 
}
#app-mount .wrapper-3t9DeA img, #app-mount .wrapper-3t9DeA.avatar-AvHqJA { 
  border-radius: 16px; 
}
#app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect { 
  rx: calc(10px * 2) !important; 
  ry: calc(10px * 2) !important; 
}
#app-mount .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect, #app-mount .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect {
  ry: calc(10px * 3.3); 
  rx: calc(10px * 3.3);
}
#app-mount .wrapper-3t9DeA rect {
  x: 0; 
  y: 0; 
  width: 100%; 
  height: 100%; 
  -webkit-mask: none; 
  mask: none; 
  display: block;
  rx: 10px; 
  ry: 10px; 
  fill: transparent !important; 
  stroke-width: 1px;
}
#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="#3ba55c"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online], #app-mount .wrapper-3t9DeA rect[fill*="hsl(139"] {
  stroke: #43b581;
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle], #app-mount .wrapper-3t9DeA rect[fill*="hsl(38"] {
  stroke: #faa61a;
}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[fill="#ed4245"], #app-mount .wrapper-3t9DeA rect[mask*=dnd], #app-mount .wrapper-3t9DeA rect[fill*="hsl(359"] {
  stroke: #f04747;
}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: #643da7;
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
  stroke: #636b75;
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper-3t9DeA rect[fill*="hsl(214"] {
  stroke: #747f8d;
}
#app-mount .wrapper-3t9DeA rect[x="16"] { 
  width: 24px; 
  height: 24px; 
}
#app-mount .wrapper-3t9DeA rect[x="28"] { 
  width: 40px; 
  height: 40px; 
  overflow: visible; 
}
#app-mount .wrapper-3t9DeA[style*="32px"] rect {
  width: 32px; 
  height: 32px; 
  x: -14.5; y: -17; 
  position: relative; 
  z-index: 0;
}
#app-mount .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect { 
  x: -48; y: -52; 
}
#app-mount .wrapper-3t9DeA[style*="80px"] rect { 
  width: 80px; 
  height: 80px; 
  stroke-width: 2px; 
}
#app-mount .wrapper-3t9DeA[style*="80px"] img {
  -webkit-clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 8px); 
  clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 8px);
}
#app-mount .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect { 
  x: -70; y: -76; 
}
#app-mount .wrapper-3t9DeA[style*="120px"] rect { 
  width: 120px; height: 120px; 
  stroke-width: 3px; 
}
#app-mount .wrapper-3t9DeA[style*="120px"] img {
  -webkit-clip-path: inset(calc(4px + 1px) calc(4px + 1px) round 8px);
  clip-path: inset(calc(4px + 1px) calc(4px + 1px) round 8px);
}
#app-mount .wrapper-3t9DeA:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"]) > svg > foreignObject:not(:only-child) img {
  -webkit-clip-path: inset(calc(2px + 1px) calc(2px + 1px) round 8px);
  clip-path: inset(calc(2px + 1px) calc(2px + 1px) round 8px);
}
#app-mount .wrapper-3t9DeA[style="width: 16px; height: 16px;"] rect { 
  display: none; 
}
#app-mount .wrapper-3t9DeA[style="width: 16px; height: 16px;"] img { 
  -webkit-clip-path: none; 
  clip-path: none; 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] { 
  width: calc(100% + 4px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img { 
  width: calc(100% - 12px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img { 
  width: calc(100% - 16px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="120"] img { 
  width: calc(100% - 22px); 
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
  content: ""; 
  display: block, block;
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
  mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
  position: absolute; 
  width: 10px; 
  height: 14px; 
  top: 50%; 
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); 
  right: 0; 
  background: #43b581, #43b581; 
  z-index: 1;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] + rect { 
  stroke: #43b581, #43b581; 
}
#app-mount .avatarHint-2A3RNb foreignObject { 
  -webkit-mask: none;
  mask: none; 
}
#app-mount .avatarHintInner-1TvA8u {
  border-radius: 12px !important;
  padding-top: 0;
  width: calc(100% - 3px - 3px + 1px * 2); 
  height: calc(100% - 3px - 3px + 1px * 2);
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
  position: relative;
}
#app-mount .memberOffline-2lN7gt img { 
  -webkit-clip-path: none !important; 
  clip-path: none !important; 
}
#app-mount .offline-3nJYBR img { 
  -webkit-clip-path: none !important; 
  clip-path: none !important; 
}
.userInfo-2zN2z8,
.peopleListItem-2nzedh { 
  overflow: visible; 
}

/* squared avatars */
:root {--avatar-radius: 10px;}
img[class^="avatar"]{
  border-radius: var(--avatar-radius) !important;
}
:root .root-3QyAh1 .topSection-y3p-_D > header .header-4zuFdR .mask-1l8v16 foreignObject {
  mask: none !important; border-radius: var(--avatar-radius) !important;
}
:root .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .avatarUploaderInner-Oiob_P {
  border: none !important ; border-radius: var(--avatar-radius) !important;
}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
  border-radius: var(--avatar-radius) !important;
}
:root .wrapper-3t9DeA foreignObject, :root .callAvatarMask-1SLlRi foreignObject,
:root .avatarContainer-3CQrif foreignObject, :root .avatarMasked-3y6o4j { 
  mask: none !important;
  -webkit-mask: none !important;
}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
  border-radius: var(--avatar-radius) !important;
}

/* avatar zoom on hover */
.avatar-37jOim:hover{
  transform: scale(1.8);
  border: solid;
  border-radius: 10px !important;
  border-width: 5px;
  margin-top: -30%;
  margin-left: 30%;
  transition: 0.2s;
}
.avatar-37jOim {
  transition: 0.2s;
}
.pointerEvents-2zdfdO {
  pointer-events: none;
}

/* filled role colors */
.role-2irmRk {
  position: relative;
  overflow: hidden; 
  border: none;
  padding: 5px;
  border-radius: 6px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .1;
  pointer-events: none;
}

/* ----------------------------------------SETTINGS---------------------------------------- */

/* small settings */
:root {
  --width2: 60%;
  --height2: 85%;
}
.layers-3iHuyZ {
  align-items: center;
  justify-content: center;
}
.layers-3iHuyZ > .layer-3QrUeG:first-child {
  opacity: 1 !important;
  transform: none !important;
}
.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {
  z-index: 1;
  transition: 250ms ease-in;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
  content: "";
  position: absolute;
  top: calc((100% - var(--height2)) / -1);
  left: calc((100% - var(--width2)) / -1);
  padding: calc(100% - var(--height2)) calc(100% - var(--width2));
  background: black;
  z-index: 2;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transition: opacity 350ms ease;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
  width: var(--width2);
  height: var(--height2);
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  display: block;
  overflow: visible;
  transform: translateZ(0);
  z-index: 3;
}

/* simple switches */
svg.slider-TkfMQL svg, .bd-switch-slider>svg { 
  display: none; 
}

/* remove change avatar icon */
.avatarUploaderIndicator-2G-aIZ { 
  display: none; 
}

/* 2 column emoji settings */
.marginBottom40-2vIwTv > .marginBottom4-2qk4Hy {
  display: none;
}
.emojiRow-zIc7ZX {
  display: inline-flex;
  margin-right: 50px;
}
#app-mount .emojiUploader-1f0pVx {
  opacity: 0;
  position: absolute;
  transform: translateX(-11px);
}
#app-mount .emojiUploader-1f0pVx .avatar-2Hubm8 {
  height: 32px !important; 
}
#app-mount .emojiRow-zIc7ZX:hover > .emojiUploader-1f0pVx {
  opacity: 1;
}
#app-mount .emojiRow-zIc7ZX:hover > .emojiImage-1hZi2F {
  opacity: 0;
}

/* reorder theme toggler and bdcompat settings */
#app-mount .item-PXvHYJ[data-item-id="bdCompat"],
#app-mount .item-PXvHYJ[data-item-id="theme-toggler"] { 
  order: 1; 
}
.item-PXvHYJ[data-item-id="pc-moduleManager-plugins"] ~ div { 
  order: 2; 
}

/* pc plugin settings divider */
.item-PXvHYJ[data-item-id=pc-updater] {
  height: 4.65rem;
  align-items: unset !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:hover {
  background: linear-gradient(180deg,
  var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
  var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
  background: linear-gradient(180deg, 
  var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
  var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
  position: absolute;
  margin-top: 2.19rem;
  border-top: 1px solid var(--background-modifier-accent);
  line-height: 2.6rem;    
  width: 89.5%;
  content: "Plugin Settings";
  color: rgb(159, 159, 159);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

/* bd buttons */
.bd-controls > .bd-addon-button:first-of-type {
  border-radius: 20px 0 0 20px !important;
}
:root .bd-controls > .bd-addon-button:last-of-type {
  border-radius: 0 20px 20px 0 !important;
}

/* ----------------------------------------PLUGIN/THEME EDITS---------------------------------------- */

/* fix "Better Friends List" spacing */
.headerCellContent-1pLtOr { margin: auto; }
.bfl-title { padding-right: 30px; }
.bfl-mutualGuilds.bfl-container { padding-left: 10px; }

/* fix notebook color */
.modal-yWgWj-.hn-notebook { background-color: var(--background-secondary); }

/* better folders server list gap fix */
.BF-folderSidebar { margin-left: -5px; margin-right: 5px; }
